In [10]:
import pandas as pd
import numpy as np
import wbpy
import plotly 
import cufflinks as cf
cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)
plotly.tools.set_credentials_file(username='richongo', api_key='knfESm6zSffWin5ujtln')
import matplotlib.pyplot as plt
import scipy.stats as stats

In [11]:
#Import Aid data
file1 = "Economic_vs_Military.xlsx"
Aid_df = pd.read_excel(file1)
Aid_df = Aid_df.rename(columns={"Row Labels": "Country"})

#show Aid data
Aid_df.head()

  Country  Year      Economic       Military   Grand Total
0  Angola  2002  1.659227e+08       0.000000  1.659227e+08
1  Angola  2003  2.155944e+08  395057.529807  2.159894e+08
2  Angola  2004  1.520490e+08  638258.217553  1.526873e+08
3  Angola  2005  8.311513e+07  387385.061877  8.350252e+07
4  Angola  2006  9.623060e+07  768343.338990  9.699894e+07

In [12]:
api = wbpy.IndicatorAPI()

iso_country_codes = ["KEN", "ZAF", "NGA", "ZWE", "ETH", "UGA",
                     "GHA", "SEN", "MDG", "MOZ", "NAM", "BDI",
                    "BEN", "SOM", "MLI", "AGO", "SLE", "RWA"]

infant_mortality = "SH.DTH.IMRT"

dataset_IMRT = api.get_dataset(infant_mortality, iso_country_codes, date="2002:2017")
dataset_IMRT

In [13]:
d=dataset_IMRT.as_dict() 
infant_mortality_df=pd.DataFrame(data=d)
infant_mortality_df
infant_mortality_df = infant_mortality_df.rename(columns={"AO":"Angola", "BI": "Burundi", "BJ": "Benin", "ET":"Ethiopia", "GH": "Ghana", "KE":"Kenya", "MG": "Madagascar", "ML":"Mali", "MZ":"Mozambique",  "NA": "Namibia", "NG":"Nigeria", "RW":"Rwanda", "SN": "Senegal", "SL":"Sierra Leone", "SO": "Somalia", "UG":"Uganda", "ZA":"South Africa", "ZW":"Zimbabwe"})
infant_mortality_df = infant_mortality_df.reset_index()
infant_mortality_df = infant_mortality_df.rename(columns={"index":"Year"})
infant_mortality_df.head

<bound method NDFrame.head of     Year   Angola  Burundi    Benin  Ethiopia    Ghana    Kenya  Madagascar  \
0   2002  95971.0  24984.0  25051.0  236821.0  41281.0  75705.0     40879.0
1   2003  95253.0  24759.0  24920.0  227584.0  40940.0  73661.0     39524.0
2   2004  93986.0  24537.0  24813.0  217766.0  40789.0  71278.0     38252.0
3   2005  92430.0  24267.0  24755.0  207679.0  40758.0  68408.0     37048.0
4   2006  90346.0  23937.0  24793.0  198004.0  40772.0  65861.0     35925.0
5   2007  87956.0  23534.0  24901.0  189064.0  40712.0  63637.0     34801.0
6   2008  85249.0  23068.0  25086.0  180863.0  40498.0  60970.0     33681.0
7   2009  82217.0  22576.0  25313.0  173475.0  40037.0  59177.0     32601.0
8   2010  79220.0  22090.0  25560.0  166949.0  39274.0  57429.0     31536.0
9   2011  76226.0  21596.0  25785.0  161040.0  38342.0  56255.0     30498.0
10  2012  73448.0  21071.0  25948.0  155642.0  37260.0  55733.0     29580.0
11  2013  70939.0  20582.0  26014.0  150446.0  36068.0  54694.0     28857.0
12  2014  68913.0  20085.0  25993.0  145625.0  34767.0  53499.0     28296.0
13  2015  67337.0  19683.0  25886.0  141119.0  33472.0  52151.0     27871.0
14  2016  65993.0  19343.0  25744.0  136965.0  32266.0  51524.0     27472.0
15  2017  65045.0  19045.0  25561.0  133153.0  31153.0  51053.0     27165.0

       Mali  Mozambique  Namibia   Nigeria   Rwanda  Senegal  Sierra Leone  \
0   59444.0     85134.0   2804.0  568287.0  29228.0  25026.0       29723.0
1   58812.0     82977.0   2780.0  564928.0  27352.0  24344.0       29885.0
2   58033.0     80906.0   2724.0  560267.0  25200.0  23665.0       29984.0
3   57135.0     78926.0   2559.0  554716.0  23209.0  23032.0       29984.0
4   56376.0     76947.0   2461.0  548359.0  21394.0  22467.0       29798.0
5   55702.0     74209.0   2419.0  541470.0  19749.0  21972.0       29424.0
6   55131.0     72452.0   2432.0  534525.0  18350.0  21537.0       28846.0
7   54554.0     70380.0   2505.0  527344.0  17111.0  21148.0       28060.0
8   53953.0     69718.0   2473.0  520087.0  15931.0  20772.0       27164.0
9   53441.0     67191.0   2509.0  512805.0  14575.0  20409.0       26153.0
10  52862.0     65093.0   2586.0  504876.0  13594.0  20010.0       25143.0
11  52373.0     63604.0   2547.0  497427.0  12763.0  19576.0       24156.0
12  51935.0     62706.0   2526.0  490035.0  12093.0  19142.0       23211.0
13  51443.0     61823.0   2468.0  481720.0  11555.0  18707.0       22349.0
14  50871.0     61004.0   2337.0  473758.0  11082.0  18312.0       21597.0
15  50492.0     60047.0   2292.0  465681.0  10677.0  17950.0       20935.0

    Somalia   Uganda  South Africa  Zimbabwe
0   46562.0  98596.0       59495.0   23990.0
1   47551.0  96119.0       59666.0   24394.0
2   48604.0  93242.0       59263.0   25221.0
3   49701.0  90154.0       58548.0   26068.0
4   50689.0  87169.0       57132.0   27209.0
5   51337.0  84191.0       53669.0   27925.0
6   51583.0  81316.0       51213.0   28188.0
7   51667.0  79262.0       46360.0   28125.0
8   51521.0  76848.0       44405.0   27549.0
9   51167.0  74379.0       43252.0   26649.0
10  50913.0  71165.0       42110.0   25109.0
11  50572.0  69216.0       39929.0   23819.0
12  50325.0  67569.0       38049.0   22377.0
13  50105.0  65764.0       37261.0   21332.0
14  49887.0  63831.0       35010.0   20302.0
15  49554.0  62416.0       33536.0   19375.0  >

In [14]:
infant_mortality_melt=infant_mortality_df.melt(id_vars=["Year"],
                                              var_name="Country",
                                              value_name="Infant Mortality")
infant_mortality_melt.head(10)

   Year Country  Infant Mortality
0  2002  Angola           95971.0
1  2003  Angola           95253.0
2  2004  Angola           93986.0
3  2005  Angola           92430.0
4  2006  Angola           90346.0
5  2007  Angola           87956.0
6  2008  Angola           85249.0
7  2009  Angola           82217.0
8  2010  Angola           79220.0
9  2011  Angola           76226.0

In [9]:
combined_data=pd.merge(Aid_df, infant_mortality_melt, on=["Country", "Year"])

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat