In [52]:
import pandas as pd
import numpy as np
import wbpy

In [53]:
file1 = "Economic_vs_Military.xlsx"
file2 = "StabilityScore.csv"

Stability_df = pd.read_csv(file2)
Aid_df = pd.read_excel(file1)
Aid_df.head()

  Row Labels  Year      Economic       Military   Grand Total
0     Angola  2002  1.659227e+08       0.000000  1.659227e+08
1     Angola  2003  2.155944e+08  395057.529807  2.159894e+08
2     Angola  2004  1.520490e+08  638258.217553  1.526873e+08
3     Angola  2005  8.311513e+07  387385.061877  8.350252e+07
4     Angola  2006  9.623060e+07  768343.338990  9.699894e+07

In [54]:
Aid_df = Aid_df.rename(columns={"Row Labels": "Country"})
Aid_df.head()

  Country  Year      Economic       Military   Grand Total
0  Angola  2002  1.659227e+08       0.000000  1.659227e+08
1  Angola  2003  2.155944e+08  395057.529807  2.159894e+08
2  Angola  2004  1.520490e+08  638258.217553  1.526873e+08
3  Angola  2005  8.311513e+07  387385.061877  8.350252e+07
4  Angola  2006  9.623060e+07  768343.338990  9.699894e+07

In [56]:
#del grp_Aid['Economic']
#del grp_Aid['Military']

In [57]:
grp_Aid.head()

Country,Angola,Benin,Burundi,Ethiopia,Ghana,Kenya,Madagascar,Mali,Mozambique,Namibia,Nigeria,Rwanda,Senegal,Sierra Leone,Somalia,South Africa,Uganda,Zimbabwe
Year,,,,,,,,,,,,,,,,,,
2002,1.659227e+08,3.945227e+07,2.949628e+07,2.003328e+08,9.439513e+07,1.505404e+08,4.561675e+07,5.461131e+07,1.940526e+08,2.083608e+07,1.365540e+08,6.708932e+07,5.411203e+07,6.707284e+07,4.503118e+07,1.595306e+08,1.257601e+08,7.377363e+07
2003,2.159894e+08,4.191826e+07,6.283952e+07,8.012913e+08,9.568734e+07,1.370031e+08,5.701051e+07,4.627911e+07,1.268810e+08,4.816923e+07,1.156399e+08,6.545566e+07,6.991001e+07,6.537463e+07,4.075215e+07,1.043411e+08,2.639552e+08,4.244833e+07
2004,1.526873e+08,4.025426e+07,6.204487e+07,4.695278e+08,1.099359e+08,2.104336e+08,5.353844e+07,8.347795e+07,1.511329e+08,4.735644e+07,1.323471e+08,7.075744e+07,6.970765e+07,3.161567e+07,3.802989e+07,1.938057e+08,2.586916e+08,4.324238e+07
2005,8.350252e+07,3.020562e+07,7.272614e+07,8.408363e+08,9.233486e+07,2.813994e+08,1.951790e+08,7.123368e+07,1.331521e+08,5.760205e+07,1.890154e+08,1.047144e+08,6.180382e+07,2.851122e+07,5.587806e+07,2.138308e+08,3.636835e+08,7.088084e+07
2006,9.699894e+07,2.326098e+07,6.355143e+07,3.687738e+08,1.099973e+08,4.120580e+08,5.975693e+07,8.082887e+07,1.744327e+08,7.540046e+07,2.261881e+08,1.101416e+08,6.811738e+07,3.038383e+07,1.239987e+08,2.451876e+08,3.278597e+08,3.969801e+07

In [26]:
Stability_df.head()

,Unnamed: 0,AO,BI,BJ,ET,GH,KE,MG,ML,MZ,NA,NG,RW,SN,SL,SO,UG,ZA,ZW
0,2002,-1.577046,-2.288240,0.820294,-1.223214,-0.163768,-1.186471,-0.230007,0.410803,0.186406,0.145299,-1.625118,-1.653260,-0.274071,-0.688648,-2.375751,-1.418792,-0.253671,-1.521978
1,2003,-1.006538,-2.244527,0.679064,-1.408554,0.028774,-1.262862,0.621700,0.258126,0.246201,0.477721,-1.633998,-1.112363,-0.249980,-1.080389,-2.575844,-1.561003,-0.311745,-1.088343
2,2004,-1.062798,-2.523785,0.265107,-1.311482,0.039967,-1.086909,0.244328,0.453275,0.002372,0.664466,-1.753987,-1.187092,0.028721,-0.513328,-2.880443,-1.305026,-0.131361,-1.207500
3,2005,-0.887544,-1.524742,0.446816,-1.690749,0.168321,-1.249828,-0.021505,0.175682,0.124558,0.625277,-1.667195,-1.002252,-0.204454,-0.479250,-2.709518,-1.417637,-0.162605,-1.272914
4,2006,-0.541986,-1.427005,0.547010,-1.738937,0.008032,-1.125182,0.183486,0.413544,0.519501,0.782987,-2.034141,-0.682115,-0.264090,-0.302184,-2.748559,-1.140198,0.048197,-0.932961

In [60]:
Stability_df = Stability_df.rename(columns={"AO":"Angola", "BI": "Burundi", "BJ": "Benin", "ET":"Ethiopia", "GH": "Ghana", "KE":"Kenya", "MG": "Madagascar", "ML":"Malawi", "MZ":"Mozambique",  "NA": "Namibia", "NG":"Nigeria", "RW":"Rwanda", "SN": "Senegal", "SL":"Sierra Leone", "SO": "Somalia", "UG":"Uganda", "ZA":"South Africa", "ZW":"Zimbabwe"})
Stability_df.head()

,Unnamed: 0,Angola,Burundi,Benin,Ethiopia,Ghana,Kenya,Madagascar,Malawi,Mozambique,Namibia,Nigeria,Rwanda,Senegal,Sierra Leone,Somalia,Uganda,South Africa,Zimbabwe
0,2002,-1.577046,-2.288240,0.820294,-1.223214,-0.163768,-1.186471,-0.230007,0.410803,0.186406,0.145299,-1.625118,-1.653260,-0.274071,-0.688648,-2.375751,-1.418792,-0.253671,-1.521978
1,2003,-1.006538,-2.244527,0.679064,-1.408554,0.028774,-1.262862,0.621700,0.258126,0.246201,0.477721,-1.633998,-1.112363,-0.249980,-1.080389,-2.575844,-1.561003,-0.311745,-1.088343
2,2004,-1.062798,-2.523785,0.265107,-1.311482,0.039967,-1.086909,0.244328,0.453275,0.002372,0.664466,-1.753987,-1.187092,0.028721,-0.513328,-2.880443,-1.305026,-0.131361,-1.207500
3,2005,-0.887544,-1.524742,0.446816,-1.690749,0.168321,-1.249828,-0.021505,0.175682,0.124558,0.625277,-1.667195,-1.002252,-0.204454,-0.479250,-2.709518,-1.417637,-0.162605,-1.272914
4,2006,-0.541986,-1.427005,0.547010,-1.738937,0.008032,-1.125182,0.183486,0.413544,0.519501,0.782987,-2.034141,-0.682115,-0.264090,-0.302184,-2.748559,-1.140198,0.048197,-0.932961

In [8]:
Stability_df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])

,Unnamed: 0,AO,BI,BJ,ET,GH,KE,MG,ML,MZ,NA,NG,RW,SN,SL,SO,UG,ZA,ZW
0,2002,-1.577046,-2.288240,0.820294,-1.223214,-0.163768,-1.186471,-0.230007,0.410803,0.186406,0.145299,-1.625118,-1.653260,-0.274071,-0.688648,-2.375751,-1.418792,-0.253671,-1.521978
1,2003,-1.006538,-2.244527,0.679064,-1.408554,0.028774,-1.262862,0.621700,0.258126,0.246201,0.477721,-1.633998,-1.112363,-0.249980,-1.080389,-2.575844,-1.561003,-0.311745,-1.088343
2,2004,-1.062798,-2.523785,0.265107,-1.311482,0.039967,-1.086909,0.244328,0.453275,0.002372,0.664466,-1.753987,-1.187092,0.028721,-0.513328,-2.880443,-1.305026,-0.131361,-1.207500
3,2005,-0.887544,-1.524742,0.446816,-1.690749,0.168321,-1.249828,-0.021505,0.175682,0.124558,0.625277,-1.667195,-1.002252,-0.204454,-0.479250,-2.709518,-1.417637,-0.162605,-1.272914
4,2006,-0.541986,-1.427005,0.547010,-1.738937,0.008032,-1.125182,0.183486,0.413544,0.519501,0.782987,-2.034141,-0.682115,-0.264090,-0.302184,-2.748559,-1.140198,0.048197,-0.932961

In [71]:
Stability_df = Stability_df.rename(columns={"Unnamed: 0": "Year"})
Stability_df.head()

,Year,Angola,Burundi,Benin,Ethiopia,Ghana,Kenya,Madagascar,Malawi,Mozambique,Namibia,Nigeria,Rwanda,Senegal,Sierra Leone,Somalia,Uganda,South Africa,Zimbabwe
0,2002,-1.577046,-2.288240,0.820294,-1.223214,-0.163768,-1.186471,-0.230007,0.410803,0.186406,0.145299,-1.625118,-1.653260,-0.274071,-0.688648,-2.375751,-1.418792,-0.253671,-1.521978
1,2003,-1.006538,-2.244527,0.679064,-1.408554,0.028774,-1.262862,0.621700,0.258126,0.246201,0.477721,-1.633998,-1.112363,-0.249980,-1.080389,-2.575844,-1.561003,-0.311745,-1.088343
2,2004,-1.062798,-2.523785,0.265107,-1.311482,0.039967,-1.086909,0.244328,0.453275,0.002372,0.664466,-1.753987,-1.187092,0.028721,-0.513328,-2.880443,-1.305026,-0.131361,-1.207500
3,2005,-0.887544,-1.524742,0.446816,-1.690749,0.168321,-1.249828,-0.021505,0.175682,0.124558,0.625277,-1.667195,-1.002252,-0.204454,-0.479250,-2.709518,-1.417637,-0.162605,-1.272914
4,2006,-0.541986,-1.427005,0.547010,-1.738937,0.008032,-1.125182,0.183486,0.413544,0.519501,0.782987,-2.034141,-0.682115,-0.264090,-0.302184,-2.748559,-1.140198,0.048197,-0.932961

In [81]:
Stability_df.set_index('Year', drop=True)

,Angola,Burundi,Benin,Ethiopia,Ghana,Kenya,Madagascar,Malawi,Mozambique,Namibia,Nigeria,Rwanda,Senegal,Sierra Leone,Somalia,Uganda,South Africa,Zimbabwe
Year,,,,,,,,,,,,,,,,,,
2002,-1.577046,-2.288240,0.820294,-1.223214,-0.163768,-1.186471,-0.230007,0.410803,0.186406,0.145299,-1.625118,-1.653260,-0.274071,-0.688648,-2.375751,-1.418792,-0.253671,-1.521978
2003,-1.006538,-2.244527,0.679064,-1.408554,0.028774,-1.262862,0.621700,0.258126,0.246201,0.477721,-1.633998,-1.112363,-0.249980,-1.080389,-2.575844,-1.561003,-0.311745,-1.088343
2004,-1.062798,-2.523785,0.265107,-1.311482,0.039967,-1.086909,0.244328,0.453275,0.002372,0.664466,-1.753987,-1.187092,0.028721,-0.513328,-2.880443,-1.305026,-0.131361,-1.207500
2005,-0.887544,-1.524742,0.446816,-1.690749,0.168321,-1.249828,-0.021505,0.175682,0.124558,0.625277,-1.667195,-1.002252,-0.204454,-0.479250,-2.709518,-1.417637,-0.162605,-1.272914
2006,-0.541986,-1.427005,0.547010,-1.738937,0.008032,-1.125182,0.183486,0.413544,0.519501,0.782987,-2.034141,-0.682115,-0.264090,-0.302184,-2.748559,-1.140198,0.048197,-0.932961
2007,-0.666032,-1.375335,0.386123,-1.803412,-0.071786,-1.302541,0.089658,0.230948,0.357609,1.018452,-2.011331,-0.358308,-0.243886,-0.060830,-3.224753,-0.915109,0.215835,-1.108968
2008,-0.362911,-1.638164,0.374591,-1.730085,-0.027629,-1.391941,-0.470053,0.210366,0.381511,1.200234,-1.860629,-0.323934,-0.147697,-0.238069,-3.280530,-0.876257,0.049733,-1.213945
2009,-0.347262,-1.272694,0.403298,-1.640794,0.029943,-1.425457,-0.732853,-0.075571,0.626186,0.928174,-1.995072,-0.506201,-0.204305,-0.288517,-3.314937,-0.992435,-0.113299,-1.167150
2010,-0.226182,-1.625959,0.261260,-1.635101,0.026093,-1.165524,-0.978339,-0.182899,0.394422,0.846940,-2.211123,-0.272094,-0.417925,-0.236645,-3.130971,-1.000558,-0.029427,-1.104014
2011,-0.369238,-1.807200,0.318356,-1.506964,0.167112,-1.244791,-0.705586,-0.708380,0.332048,0.911658,-1.956455,-0.177118,-0.280602,-0.168445,-3.083847,-0.976102,0.024032,-0.945329
2012,-0.389323,-1.704738,0.364368,-1.564271,0.130695,-1.323441,-0.536137,-2.034329,0.390494,0.978104,-2.042074,-0.230615,-0.108322,-0.279945,-2.860755,-0.868967,-0.025387,-0.778662
2013,-0.391234,-1.350278,0.301189,-1.407307,0.060606,-1.166931,-0.659993,-1.722162,-0.226966,0.958810,-2.088478,-0.110952,-0.060723,-0.174718,-2.758687,-0.838691,-0.046295,-0.665950
2014,-0.333232,-0.784407,0.027140,-1.339387,-0.106808,-1.282247,-0.557236,-1.713989,-0.336003,0.608741,-2.130276,-0.313470,-0.198223,-0.104040,-2.515828,-0.941126,-0.146389,-0.713570
2015,-0.500898,-1.939511,-0.013514,-1.498187,-0.032099,-1.244406,-0.427363,-1.685664,-0.513895,0.733113,-1.925443,0.013241,-0.116665,-0.102517,-2.380828,-0.804502,-0.212993,-0.618156
2016,-0.315899,-1.970721,-0.002027,-1.619813,-0.130929,-1.354791,-0.290095,-1.617233,-1.094005,0.710090,-1.877710,-0.054899,-0.218255,-0.159926,-2.357363,-0.715323,-0.141504,-0.619938
2017,-0.294626,-1.970385,0.045325,-1.687409,0.086481,-1.084383,-0.334092,-1.910102,-0.975530,0.650074,-1.943169,0.039197,-0.044704,0.029830,-2.326141,-0.557396,-0.267319,-0.774265

In [ ]:
x_axis = Year
y = stability
x1 = amount of aid # size of the bubble

In [ ]:
Stability_df.plot.scatter(x=Year,y, s=None, c=None)